.nada{
    display: grid; /* le dice que va a ser un elemento grid */
    grid-template-columns: 30px 50%; /* cantidad de columnas (lo de dentro dice cuantos son y que tamaño tienen)*/
    grid-template-rows: repeat(3, 100px); /* cantidad de filas(el numero solo son la cantidad y el otro el tamaño) */
    grid-area: 
    "titulo none" /* en la parte de la izquierda de la pagina no se va a encontrar nada */
    "centro centro"
    "footer footer";
    column-gap: 10px; /* separacion entre las columnas */
    row-gap: 15px; /* separacion entre las filas */
}

.titulo{
    grid-area: titulo;
}

.centro{
    grid-area: centro;
}

.footer {
    grid-area: footer;
}























