h1, h2, h3, h4, h5, h6 {
  color: #d4cfa5;
  font-family: TINY;
}

h1, h2 {
  text-align: center;
}

.titulo {
  margin: 2.5% 0px 2.5% 0px;
  text-align: center;
  font-size: 100px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #230b00;
}

/* encabezado */
header {
  background-color: #f8ecd4;
  height: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 25% 25%;
  grid-template-areas: "img search btn sesion";
}

.logo-header {
  height: 100%;
  width: auto;
  margin-left: 10px;
}

.img-header {
  grid-area: img;
  height: 70px;
}

.btn-box-header {
  grid-area: btn;
  align-items: center;
}

.btn-header {
  margin: 0 1.5% 0 1.5%;
  height: 50%;
}

.sesion-box-header {
  margin-top: 1%;
  grid-area: sesion;
  text-align: right;
  height: 70px;
}

.imgsesion-header {
  height: 95%;
  width: auto;
  margin-right: 10px;
}

.buttonsesion-header {
  border-color: rgba(255, 255, 255, 0);
  color: #230b00;
  height: 70px;
  margin-left: 15px;
}

.searchheader {
  margin-left: 50px;
  grid-area: search;
  align-self: center;
}

.inputheader {
  width: 300px;
}

.imglupa-header {
  height: 20px;
  width: 20px;
}

.button-header {
  background-color: #aabe9b;
  border-color: rgba(255, 255, 255, 0);
  color: #230b00;
  transition: all 2s;
}

.button-header:hover {
  color: #230b00;
  background: radial-gradient(#aabe9b, #a29d7f);
  border-color: rgba(255, 255, 255, 0);
  transform: translate(1px, 1px);
}

.buttonsearch-header {
  background-color: #aabe9b;
  border-color: rgba(255, 255, 255, 0);
  color: #230b00;
}

/* carrusel index */
.main-index {
  margin-top: 30px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carruselmain-index {
  height: 500px;
  width: 90%;
}

.imgcarrusel-index {
  height: 500px;
}

.boton-carrusel {
  width: 70px;
}

/* mapa */
.sectionmap-index {
  margin-top: 30px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionh2-index {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: #a29d7f;
  font-size: 60px;
  font-family: TINY;
}

.map-index {
  width: 90%;
}

/* tiendas */
.sectiontiendas-index {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 25px;
  grid-template-rows: 75px auto;
  grid-template-areas: "tittle tittle" "column1 column2";
}

.navh2-index {
  grid-area: tittle;
  color: #a29d7f;
  font-size: 60px;
  font-family: TINY;
  text-align: center;
}

.column1-index {
  grid-area: column1;
  margin-right: 20px;
}

.column2-index {
  grid-area: column2;
}

.tiendascolumn {
  background-color: #a29d7f;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  grid-template-areas: "imgcolumn txtcolumn";
}

.imgcolumn {
  height: 225px;
  width: 95%;
  grid-area: imgcolumn;
}

.divh-column {
  grid-area: txtcolumn;
  margin-top: 2%;
}

.button-tiendas {
  margin-top: 10%;
  height: 30px;
  width: 100px;
  border-radius: 7%;
  background-color: #aabe9b;
  border-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
  color: #230b00;
  text-align: center;
  transition: all 2s;
}

.button-tiendas:hover {
  background: radial-gradient(#aabe9b, #a29d7f);
  border-color: rgb(0, 0, 0);
  transform: translate(1px, 1px);
}

.sombreadoletras {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.295);
}

.h3sectiontiendas {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

.h4sectiontiendas {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

/* FOOTER */
footer {
  background-color: #f8ecd4;
  height: 125px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas: "logofooter nombre redes";
}

.logofooter {
  grid-area: logofooter;
  height: 125px;
  text-align: right;
}

.nombre {
  grid-area: nombre;
  height: 125;
  width: 100%;
  text-align: center;
  margin-left: 25px;
}

.redes {
  grid-area: redes;
  height: 125;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.imgfooter {
  margin-top: 20px;
  height: 60%;
  width: auto;
}

/* LOGIN */
.body-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-login {
  width: 320px;
  height: auto;
  background-color: #f8ecd4;
  color: #8d0000;
  padding: 75px 50px 40px 50px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.img-login {
  background-color: #f8ecd4;
  border-radius: 100%;
  transform: translateY(-109%);
  position: absolute;
}

.h1-login {
  color: #8d0000;
  margin: 10px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 1000;
}

.label-login {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.input-login {
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--bs-border-radius);
  border-color: rgba(0, 0, 0, 0.318);
}

.button-login {
  width: 100px;
  height: 50px;
  background-color: #aabe9b;
  border-color: rgba(255, 255, 255, 0);
  color: #230b00;
  font-size: 25px;
  border-radius: 15%;
}

/* CREAR CUENTA CC */
.body-cc {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-cc {
  width: 320px;
  height: auto;
  background-color: #f8ecd4;
  color: #8d0000;
  padding: 75px 50px 40px 50px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.img-cc {
  background-color: #f8ecd4;
  border-radius: 100%;
  transform: translateY(-109%);
  position: absolute;
}

.h1-cc {
  color: #8d0000;
  margin: 10px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 1000;
}

.label-cc {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.input-cc {
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--bs-border-radius);
  border-color: rgba(0, 0, 0, 0.318);
}

.button-cc {
  width: 100px;
  background-color: #aabe9b;
  border-color: rgba(255, 255, 255, 0);
  color: #230b00;
  font-size: 25px;
  border-radius: 15%;
}

/* Compras */
.section-compras {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchsection-compras {
  padding: 30px 0px 75px 0px;
}

.inputsection-compras {
  width: 400px;
}

.productoscomprados {
  background-color: #a29d7f;
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  height: 300px;
  margin-bottom: 40px;
}

.h2productoscomprados {
  grid-area: tittleproductos;
  margin-top: 0.5%;
}

.boxdatos {
  grid-area: caracteristicascompra;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "tienda caracteristicas";
}

.h3datosvendedor {
  margin-top: 3%;
}

.tienda {
  grid-area: tienda;
  text-align: center;
}

.imgproducto {
  height: 60%;
  margin: 10px 0px 0px 10px;
}

.caracteristicasproducto {
  grid-area: caracteristicas;
  text-align: center;
}

.h3productoscomprados {
  margin-top: 3%;
}

.datosvendedor {
  grid-area: vendedor;
  text-align: center;
}

/* restaurantes */
.imgcarrusel-restaurantes {
  height: 100%;
  width: 40% !important;
  margin-left: 30%;
  margin-top: 1%;
}

.menu-restaurantes {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "colum1 colum2";
}

.column1-restaurantes {
  grid-area: colum1;
  margin-right: 20px;
}

.column2-restaurantes {
  grid-area: colum2;
}

.comidasmenu-restaurantes {
  background-color: #a29d7f;
  margin-bottom: 20px;
  height: 200px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-areas: "img txt btn";
}

.imgmenu-restaurantes {
  grid-area: img;
  margin-top: 6.5%;
  height: auto;
  width: 100%;
}

.txtmenu-restaurantes {
  grid-area: txt;
}

.btnmenu-restaurante {
  margin: 10%;
  width: auto;
  height: 40px;
  background-color: #8d0000;
  color: white;
}

.h3menu-restaurantes {
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  margin-left: 5px;
}

.checkbox-restaurantes {
  margin-left: 25%;
  height: 40%;
  width: 40%;
  accent-color: #230b00;
}

.compra-restaurantes {
  margin: 100px 5% 50px 5%;
  width: 90%;
  height: 500px;
  background-color: #a29d7f;
  display: flex;
  justify-content: center;
}

.divimgcompra-restaurantes {
  background-color: #a29d7f;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: translateY(-60%);
  position: absolute;
  text-align: center;
}

.imgcompra-restaurantes {
  margin-top: 10px;
  margin-bottom: 7px;
  width: 15%;
}

.menucompra-restaurantes {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 29% 42% 29%;
  grid-template-areas: "dire pago datprins";
}

.direccioncompra-restaurantes {
  grid-area: dire;
  text-align: center;
}

.labelcompra-restaurantes {
  margin-top: 5%;
  margin-bottom: 3%;
  font-weight: bold;
  display: block;
  font-size: 125%;
}

.inputcompra-restaurantes {
  width: 90%;
  margin-bottom: 20px;
  border-radius: var(--bs-border-radius);
  border-color: rgba(35, 11, 0, 0);
}

.pagocompra-restaurantes {
  margin-top: 20%;
  margin-left: 10px;
  grid-area: pago;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "txtprecio precio" "txtmetodo metodo" "txtcomen comentario";
}

.txtprecio {
  grid-area: txtprecio;
}

.precio {
  grid-area: precio;
}

.txtmetodo {
  grid-area: txtmetodo;
}

.metodo {
  grid-area: metodo;
}

.txtcomen {
  grid-area: txtcomen;
}

.comentario {
  grid-area: comentario;
}

.infoprincipalcompra-restaurantes {
  grid-area: datprins;
}

.h2menu-restaurantes {
  padding-top: 2%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

.selectcompra-restaurantes {
  height: 25%;
  width: 100%;
  border-radius: var(--bs-border-radius);
  border-color: rgba(35, 11, 0, 0);
}

.btncompraconfirm-restaurantes {
  margin-top: 10%;
  margin-left: 35%;
  width: 30%;
  background-color: #aabe9b;
  font-weight: 400;
  display: block;
  border-color: rgba(35, 11, 0, 0);
  color: black;
}

.divtextCompra-restaurantes {
  margin-left: 2.5%;
  margin-top: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  width: 95%;
  text-align: center;
  color: #d4cfa5;
  font-size: 130%;
}

/* tablet */
@media (max-width: 768px) {
  .inputheader {
    width: 100px;
  }
  .button-header {
    border-radius: var(--bs-border-radius) !important;
    font-size: 15px;
    height: 30%;
    width: 90%;
    margin: 7px 0 0 0;
    padding: 0%;
  }
  .btn-box-header {
    display: block;
  }
  .imglupa-header {
    height: 12px;
    width: 12px;
  }
  .h4sectiontiendas {
    font-size: 20px;
  }
  .h3sectiontiendas {
    font-size: 25px;
  }
  .imgproducto {
    height: 50%;
  }
  .carruselmain-index {
    height: 300px;
  }
  .imgcarrusel-index {
    height: 300px;
  }
  .imgcarrusel-restaurantes {
    height: 250px;
    width: auto;
  }
  .h2menu-restaurantes {
    font-size: 20px;
  }
  .h3menu-restaurantes {
    font-size: 15px;
  }
  .checkbox-restaurantes {
    margin-top: 125px;
    height: 60%;
    width: 60%;
  }
  .divimgcompra-restaurantes {
    width: 300px;
  }
  .btncompraconfirm-restaurantes {
    width: 50%;
  }
}
/* mobil */
@media (max-width: 425px) {
  .inputheader {
    width: 90px;
  }
  .button-header {
    font-size: 10px;
    padding-top: 3px;
    height: 30%;
    width: 90%;
  }
  .buttonsearch-header {
    display: none;
  }
  .buttonsesion-header {
    width: 61px;
    height: 49px;
  }
  .titulo {
    font-size: 60px;
  }
  .sectionh2-index {
    font-size: 40px;
  }
  .navh2-index {
    font-size: 40px;
  }
  .carruselmain-index {
    height: 200px;
  }
  .imgcarrusel-index {
    height: 200px;
  }
  .sectiontiendas-index {
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "tittle" "colum1" "colum2";
  }
  .column1-index {
    grid-area: colum1;
    margin-right: 0;
  }
  .column2-index {
    grid-area: colum2;
  }
  .h3sectiontiendas {
    font-size: 15px;
  }
  .enlaces {
    font-size: 10px;
  }
  .imgproducto {
    height: 20px;
  }
  .boxdatos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "tienda" "caracteristicas";
  }
  .imgproducto {
    height: 100px;
  }
  .h2productoscomprados {
    font-size: 25px;
  }
  .h3productoscomprados {
    font-size: 20px;
  }
  .h4productoscomprados {
    font-size: 15px;
  }
  .h3datosvendedor {
    font-size: 30px;
  }
  .btnselect-compras {
    height: 40px;
    width: 90px;
  }
  footer {
    height: 100px;
  }
  .logofooter {
    height: 100px;
  }
  .nombre {
    height: 100;
    font-size: 10PX;
  }
  .imgfooter {
    margin-top: 13px;
    height: 60%;
    width: auto;
  }
  .redes {
    margin: 0 !important;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "redes1" "redes2";
  }
  .redes1 {
    grid-area: redes1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "red1 red2";
  }
  .facebook {
    grid-area: red1;
  }
  .twitter {
    grid-area: red2;
  }
  .redes2 {
    grid-area: redes2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "red3 red4 red5";
  }
  .google {
    grid-area: red3;
  }
  .instagram {
    grid-area: red4;
  }
  .linkedin {
    grid-area: red5;
  }
  .menu-restaurantes {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "colum1" "colum2";
  }
  .column1-restaurantes {
    margin-right: 0;
  }
  .comidasmenu-restaurantes {
    height: 175px;
  }
  .imgmenu-restaurantes {
    height: 50%;
  }
  .checkbox-restaurantes {
    margin-top: 85px;
  }
  .divimgcompra-restaurantes {
    width: 200px;
  }
  .btncompraconfirm-restaurantes {
    padding: 3px 6px 3px 6px;
    margin-top: 75%;
    font-size: 10px;
    width: 60%;
  }
  .pagocompra-restaurantes {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 13%);
    grid-template-areas: "txtprecio" "precio" "txtmetodo" "metodo" "txtcomen" "comentario";
  }
  .selectcompra-restaurantes {
    height: 60%;
  }
  .map-restaurantes {
    display: none;
  }
  .direccioncompra-restaurantes {
    display: none;
  }
  .compra-restaurantes {
    height: 350px;
  }
  .menucompra-restaurantes {
    grid-template-columns: 70% 30%;
    grid-template-areas: "pago datprins";
  }
  .imgcarrusel-restaurantes {
    height: 150px;
  }
  .logo-header {
    height: 90%;
  }
  .imgsesion-header {
    height: 110%;
    margin-top: 5px;
  }
  .div-login {
    margin-top: 100px;
  }
  .div-cc {
    margin-top: 100px;
  }
  .button-login {
    padding-top: 1px;
    font-size: 15px;
    height: 25px;
    width: 125px;
  }
}
/* CARGA INICIO */
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 70px;
}

#pelota1, #pelota2, #pelota3, #pelota4, #pelota5, #pelota6, #pelota7, #pelota8, #pelota9, #pelota10 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px 50px;
  background: #ffffff;
  animation: spin 1.5s linear infinite;
  transform-origin: center center;
}

#pelota2 {
  animation: spin 1.5s -0.75s linear infinite;
}

#pelota3 {
  left: 30px;
  animation: spin 1.5s -1.3s linear infinite;
}

#pelota4 {
  left: 30px;
  animation: spin 1.5s -0.55s linear infinite;
}

#pelota5 {
  left: 60px;
  animation: spin 1.5s -1.1s linear infinite;
}

#pelota6 {
  left: 60px;
  animation: spin 1.5s -0.35s linear infinite;
}

#pelota7 {
  left: 90px;
  animation: spin 1.5s -0.9s linear infinite;
}

#pelota8 {
  left: 90px;
  animation: spin 1.5s -0.15s linear infinite;
}

#pelota9 {
  left: 120px;
  animation: spin 1.5s -0.7s linear infinite;
}

#pelota10 {
  left: 120px;
  animation: spin 1.5s -0.05s linear infinite;
}

#base1, #base2, #base3, #base4, #base5 {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 1px;
  height: 10px;
  background: #ffffff;
  animation: flex 1.5s linear infinite;
  transform-origin: center center;
}

#base2 {
  left: 35px;
  animation: flex 1.5s -1.3s linear infinite;
}

#base3 {
  left: 65px;
  animation: flex 1.5s -1.1s linear infinite;
}

#base4 {
  left: 95px;
  animation: flex 1.5s -0.9s linear infinite;
}

#base5 {
  left: 125px;
  animation: flex 1.5s -0.7s linear infinite;
}

@keyframes spin {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  25% {
    transform: translateY(30px) scale(2);
  }
  50% {
    transform: translateY(60px) scale(1);
  }
  75% {
    transform: translateY(30px) scale(0.3);
  }
}
@keyframes flex {
  0%, 100% {
    transform: scaleY(5);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(5);
  }
  75% {
    transform: scaleY(1);
  }
}


/*# sourceMappingURL=style.css.map */
